<div class="content-heading clearfix">

  <h3 class="pull-left">服务介质配置版本添加</h3>
  
  <div class="headbread pull-left">
      <ol class="breadcrumb">
	      <li><a ui-sref="app.config_component">服务介质配置列表</a>
	      </li>
	      <li ng-if="$stateParams.type=='component'"><a ui-sref="app.config_component_detail({configid:$stateParams.configid})">{{$stateParams.configname}}</a>
	      </li>
	      <li ng-if="$stateParams.type=='topo'"><a ui-sref="app.config_topology_detail({configid:$stateParams.configid})">{{$stateParams.configname}}</a>
	      </li>
	      <li class="active">
	      	版本添加
          </li>
      </ol>
  </div>

</div>
<form name="formValidate" ng-submit="submitconfigForm()" novalidate="" class="form-validate form-horizontal">
<div class="panel panel-default">
	<div class="panel-body">
		
	<fieldset>
          <div class="form-group">
             <label class="col-sm-2 control-label"><span class=""></span>拷贝：</label>
             <div class="col-sm-6">
               <div class="checkbox c-checkbox">
                    <label>
                       <input type="checkbox" ng-model="copy" />
                       <span class="fa fa-check"></span> 
                    </label>
               </div>
             </div>
          </div>
    </fieldset>
    <fieldset ng-show="copy">
          <div class="form-group">
             <label class="col-sm-2 control-label"><span class=""></span>版本列表：</label>
             <div class="col-sm-6">
                <select class="form-control" ng-model="configversion" ng-options="v.id as v.version for v in configversionList">
                		 
                </select>
             </div>
          </div>
     </fieldset>

     <fieldset ng-show="!copy">
         <div class="form-group">
            <label class="col-sm-2 control-label"><span class=""></span>参数配置：</label>
            <div class="clearfix">
                 <div class="col-sm-10">
                     <table class="table">
                         <tr>
                             <th>KEY</th>
                             <th>VALUE</th>
                             <th>type</th>
                             <th>描述</th>
                             <th>操作</th>
                         </tr>
                         <tr ng-repeat="config in configparams track by $index">
                             <td>
                                 <input type="text" class="form-control" ng-model="config.key" placeholder="KEY">
                             </td>
                             <td>
                                 <input type="text" class="form-control" ng-model="config.value" placeholder="VALUE">
                             </td>
                             <td>
                                 <input type="text" class="form-control" ng-model="config.type" placeholder="type">
                             </td>
                             <td>
                                 <input type="text" class="form-control" ng-model="config.description" placeholder="描述">
                             </td>
                             <td>
                       <a href="" ng-click="delConfig($index)" class="text-danger"><em class="fa fa-trash"></em></a>
                    </td>
                         </tr>
                     </table>
                     <div class="mt20">
                  <a href="" class="btn btn-info" ng-click="addConfig()">添加配置参数</a>
               </div>
                 </div>
            </div>
         </div>
    </fieldset>
		
	</div>
	<div class="panel-footer text-center">
       <button type="submit" ng-disabled="!formValidate.$valid" class="btn" ng-class="{'btn-info':formValidate.$valid,'btn-default':!formValidate.$valid}">添加</button>
   </div>
</div>
</form>