<div class="content-heading clearfix">

  <h3 class="pull-left">配置版本</h3>
  
  <div class="headbread pull-left">
      <ol class="breadcrumb">
	      <li><a ui-sref="app.config_topology">配置列表</a>
	      </li>
	      <li class="active">
	      	 {{config.name}}
          </li>
      </ol>
  </div>
  
  <a ui-sref="app.config_topology_version_add({configid:config.configId,configname:config.name,type:'topo'})" class="pull-right btn btn-info btn-sm">添加版本</a>

</div>

<div class="panel-config-server">
	<!-- <div class="config-server-header">
   		<ul class="clearfix">
   			<li class="active" ng-repeat="vitem in configversionList track by $index">
              <div class="label label-danger" ng-bind="vitem.version"></div>
              <p ng-bind="vitem.last_update_time"></p>
              <div class="user">用户</div>
   			</li>
   		</ul>
   </div> -->
   <div class="config-server-nav clearfix">
        <div class="config-server-nav_l pull-left">
        	<select class="form-control" ng-model="curversion" ng-options="vitem as vitem.version for vitem in configversionList">
            </select>
            <div class="label label-danger" ng-bind="curversion.version"></div>
            <em></em>
            <p>用户 撰写 {{curversion.last_update_time}}</p>
        </div>
        <div class="config-server-nav_r pull-right">
            <button class="btn btn-danger btn-sm" ng-click="delForVersion('topo')">删除版本</button>
            <button type="button" class="btn btn-info btn-sm" ng-click="outForm()">导出</button>
            <button type="button" class="btn btn-success btn-sm" ng-click="openinject(curversion.id,'topo')">导入</button>
        </div>
   </div>
   <div class="table-responsive mb-lg">
            <div class="tablesearch">
              <input type="text" ng-keyup="searchKey($event)" class="form-control" placeholder="输入key搜索" ng-model="search" />
            </div>
            <table class="table bg-white configtable">
                <tr style="font-weight: bold">
		         <td style="width:25%">KEY</td>
		         <td style="width:30%">VALUE</td>
		         <td style="width:10%">type</td>
		         <td style="width:20%">描述</td>
		         <td style="width:15%">操作</td>
			     </tr>
			     <tr ng-repeat="config in configlists track by $index">
			         <td> 
			            <span editable-text="config.key" e-name="key" e-form="rowform"  e-required="">{{config.key}}</span>
			         </td>
			         <td>
			            <span editable-text="config.value" e-name="value" e-form="rowform"  e-required="">{{config.value}}</span>
			         </td>
			         <td>
			            <span editable-text="config.type" e-name="type" e-form="rowform"  e-required="">{{config.type}}</span>
			         </td>
			         <td>
			            <span editable-text="config.description" e-name="description" e-form="rowform"  e-required="">{{config.description}}</span>
			         </td>
          
			         <td style="white-space: nowrap">
			           
			            <form editable-form="" name="rowform" ng-show="rowform.$visible" onbeforesave="saveConfig($data, config.id)" shown="inserted == config" class="form-buttons form-inline">
			               <button type="submit" ng-disabled="rowform.$waiting" title="Save" class="btn btn-sm btn-info">
			                  <em class="fa fa-save"></em>
			               </button>
			       
			            </form>
			            <div ng-show="!rowform.$visible" class="buttons">
			               <button ng-click="rowform.$show()" title="Edit" class="btn btn-sm btn-info">
			                  <em class="fa fa-pencil"></em>
			               </button>
			               <button ng-click="removeConfig(config.id,$index)" title="Delete" class="btn btn-sm btn-danger">
			                  <em class="fa fa-trash"></em>
			               </button>
			            </div>
			         </td>
                 </tr>
            </table>
            <form ng-show="false" method="post" action="app/pages/download2.jsp" name="outform" id="outform">
               <input name="data" required="" ng-model="out_data">
               <input name="filename" required="" ng-model="out_filename">
            </form>
            <div class="mt20">
                <button ng-click="addConfig()" class="btn btn-info">添加配置</button>
            </div>
      </div>
</div>

 
 