<div class="dialog-header">
    <h4>创建角色</h4>
</div>
<div class="dialog-body">
   <div class="form-horizontal">  
      <form name="createRoleForm">
      	 <div class="form-group">
	         <label class="col-lg-3 control-label text-right">角色名称</label>
	         <div class="col-lg-8">
	            <input type="text" ng-model="role.name" class="form-control" required="" name="name" autocomplete="off" />
	            <span ng-show="createRoleForm.name.$dirty &amp;&amp; createRoleForm.name.$error.required" class="text-danger">请输入角色名称！</span>
              <span ng-show="authMsg" class="text-danger">{{authMsg}}</span>
	         </div>
	       </div>
      </form>
   </div>
</div>
<div class="dialog-footer">
   <a class="btn btn-info" ng-click="closeThisDialog(0)">取消</a>
   <button type="submit" class="btn btn-primary" ng-click="createRoleFn()">确定</button>
</div>
 
