<div class="dialog-header">
    <h4>修改密码</h4>
</div>
<div class="dialog-body">
   <div class="form-horizontal">  
      <form method="post" name="changepasswordForm">

      	 <div class="form-group">
	         <label class="col-lg-3 control-label text-right">用户名</label>
	         <div class="col-lg-8">
	             {{userInfo.userName}}
	         </div>
	      </div>

	      <div class="form-group">
           <label class="col-lg-3 control-label text-right">密码</label>
           <div class="col-lg-8">
              <input type="password" ng-model="password" placeholder="密码：由8-16位的数字、字母、特殊字符(不含空格)组成" class="form-control" ng-pattern="/^(?![A-Za-z]+$)(?![A-Z\d]+$)(?![A-Z\W]+$)(?![a-z\d]+$)(?![a-z\W]+$)(?![\d\W]+$)\S{8,16}$/"  required="" name="password" autocomplete="off" />
              <span ng-show="changepasswordForm.password.$dirty &amp;&amp; changepasswordForm.password.$error.required" class="text-danger">请输入密码！</span>
           	  <span ng-show="changepasswordForm.password.$dirty &amp;&amp; changepasswordForm.password.$error.pattern" class="text-danger">请输入8-16位的数字、字母、特殊字符(不含空格)组成的密码！</span>
           	  
           </div>
         </div>
         
         <div class="form-group">
           <label class="col-lg-3 control-label text-right">确认密码</label>
           <div class="col-lg-8">
              <input type="password" ng-model="password_confirm" class="form-control" required="" name="password_confirm" autocomplete="off" equalpassword />
              <span ng-show="changepasswordForm.password_confirm.$dirty &amp;&amp; changepasswordForm.password_confirm.$error.required" class="text-danger">请确认密码</span>

              <span ng-show="changepasswordForm.password_confirm.$error.equal" class="text-danger">密码不一致，请重新输入！</span> 
           </div>
         </div>

      </form>
   </div>
</div>
<div class="dialog-footer">
   <a class="btn btn-info" ng-click="closeThisDialog(0)">取消</a>
   <button type="submit" class="btn btn-primary" ng-click="changepasswordUserFn()">确定</button>
</div>
 
