<div class="g-wrapper">
  <div class="cont">
    
	<div class="row">
	   <div ng-class="{'col-sm-8':treeoff,'col-sm-12':!treeoff}">
	       <!-- <div class="head">
		        <button class="mb-sm btn btn-info pull-right" ng-click="openCreateRole()">新建角色</button>
		   </div> -->
	       <table class="table">
			  <tr>
			  	<th>角色名称</th>
			  	<th>操作</th>
			  </tr>
			  <tr ng-repeat="role in rolelist">
			  	<td>{{role.name}}</td>
			  	<td>  
			  		<button class="btn btn-danger" ng-click="delRole($index,role.roleId)">删除</button>
 
			  		<button class="btn btn-info" ng-click="viewLimit(role)">查看权限</button>
			  	</td> 
			  </tr>
		   </table>
	   </div>
	   <div class="col-sm-4" ng-if="treeoff">
	       <div class="well wd-wide"> 
	           <div class="head">{{currole.name}}:当前权限</div>
	           <span ng-if="doing_async">...loading...</span>
               <abn-tree ng-if="treeoff" tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="3"></abn-tree>
	           <button type="button" class="btn btn-info" ng-click="savetree(my_data,currole.roleId)">保存</button>
	       </div>
	   </div>
	</div>
  </div>
</div>