 <div class="content-heading clearfix">

  <h3 class="pull-left">模板详情</h3>
  
  <div class="headbread pull-left">
      <ol class="breadcrumb">
	      <li><a ui-sref="app.template_list">编排模板列表</a>
	      </li>
	      <li class="active">
	      	 {{templateName}}
          </li>
      </ol>
  </div>

</div>
<div class="panel panel-default">
	<div class="panel-body">
		 <form name="formValidate" ng-submit="submitForm()" novalidate="" class="form-validate form-horizontal">
 	<fieldset>
         <div class="form-group">
            <label class="col-sm-2 control-label">服务名称</label>
            <div class="col-sm-6">
               <input type="text" class="form-control" ng-model="templateName" />
            </div>
         </div>
      </fieldset>
      
      <fieldset>
           <div class="form-group">
              <label class="col-sm-2 control-label">更新时间</label>
              <div class="col-sm-6">
                 <input type="text" class="form-control" ng-model="updateTime" />
              </div>
           </div>
      </fieldset>

      <fieldset>
         <div class="form-group">
            <label class="col-sm-2 control-label">服务描述</label>
            <div class="col-sm-6">
               <textarea class="form-control" ng-model="description"></textarea>
            </div>
         </div>
      </fieldset>

     <fieldset>
         <div class="form-group">
            <label class="col-sm-2 control-label"><span class=""></span>编排服务：</label>
            <div class="col-sm-10">
              <ui-codemirror ui-codemirror-opts="editorOpts" ng-model="code"></ui-codemirror>
            </div>
         </div>
      </fieldset>
		 </form>
	</div>

</div>
