@-webkit-keyframes cloudAni{
	0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
	100%{-webkit-transform:translate3d(-50%,0,0);transform:translate3d(-50%,0,0)}
}
@keyframes cloudAni{
	0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
	100%{-webkit-transform:translate3d(-50%,0,0);transform:translate3d(-50%,0,0)}
}	

html,body { height: 100%; }	
body {
	background-color: #ffffff;
	background-image: linear-gradient(60deg, rgba(107, 144, 226,1) 5%, rgba(158, 200, 215,1));
	background-image: -moz-linear-gradient(60deg, rgba(107, 144, 226, 1) 5%, rgba(158, 200, 215,1));
	background-image: -webkit-linear-gradient(60deg, rgba(107, 144, 226, 1) 5%, rgba(158, 200, 215,1));
	background-image: -ms-linear-gradient(60deg, rgba(107, 144, 226, 1) 5%, rgba(158, 200, 215,1));
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}
.login_bg { height: 100%; min-height: 650px; position: relative; overflow:hidden; }	 
.login-bg-cloud{position:absolute;top:0;left:0;height:100%}
.login-bg-cloud{
	background:url(../images/clouds.png) 0 0;width:250.625em;min-height:650px;-webkit-animation:cloudAni 50s linear infinite;animation:cloudAni 50s linear infinite;
}

.wdlogin { width: 550px; padding: 20px; min-height: 460px; border-radius: 5px;  background: #fff; position: absolute; left: 50%; top: 50%; margin-left:-295px; margin-top: -250px; }

.wdlogin h1 { font-size: 1.85em; letter-spacing: 0.22em; margin: 0 0 0.525em 0; font-weight: normal; text-align: center; margin-bottom: 40px; }
section header { margin: 0 -20px; }
.avatar { position: relative; margin-bottom: 1.5em; display: block; }
.avatar:before { content: ''; display: block; position: absolute; top: 50%; width: 100%; height: 1px; background: #c8cccf; z-index: 1; }
.avatar img { display: block; margin: 0 auto; background: #fff; padding: 10px 20px;	position: relative;	z-index: 2;	}	
				
				
				

