<form name="formconsumerconf" ng-submit="upConfigFn()" novalidate="" class="form-validate form-horizontal">
<div class="dialog-header">
	<h4>配置信息</h4>
</div>
<div class="dialog-body" style="padding-bottom:0px">
	<fieldset>
		<div class="form-group">
			<label class="col-sm-3 control-label">broker.list：</label>
			<div class="col-sm-9">
				<input type="text" name="brokerlist" class="form-control" required=""
					placeholder="127.0.0.1;127.0.0.2" ng-model="brokerlist" />
			</div>
		</div>
	</fieldset>
	<fieldset>
		<div class="form-group">
			<label class="col-sm-3 control-label">broker.port：</label>
			<div class="col-sm-9">
				<input type="text" name="brokerport" class="form-control" required=""
					placeholder="9092" ng-model="brokerport" />
			</div>
		</div>
	</fieldset>
	<fieldset>
		<div class="form-group">
			<label class="col-sm-3 control-label">zookeeper.list：</label>
			<div class="col-sm-9">
				<input type="text" name="zklist" class="form-control" required=""
					placeholder="127.0.0.1:2181;127.0.0.2:2181" ng-model="zklist" />
			</div>
		</div>
	</fieldset>
	<fieldset>
		<div class="form-group">
			<label class="col-sm-3 control-label">zkroot：</label>
			<div class="col-sm-9">
				<input type="text" name="zkroot" class="form-control" required=""
					placeholder="test" ng-model="zkroot" />
			</div>
		</div>
	</fieldset>
</div>

<div class="dialog-footer">
	<a class="btn btn-info" ng-click="closeThisDialog(0)">取消</a>
	<button type="submit" class="btn btn-default" ng-disabled="!formconsumerconf.$valid" ng-class="{'btn-default':!formconsumerconf.$valid,'btn-info':formconsumerconf.$valid}" disabled="disabled">确定</button>
</div>
</form>
