  <h3 class="ng-scope">SP-kafka 环境查询</h3>      
   <div class="g-wrapper ng-scope">
   <div class="cont">
   <div class="head">
    <label class="col-sm-2">SP版本:</label>
   		<div class="col-sm-1">{{listEnv.sp_ver}}</div>
   		<label class="col-sm-2">kafka版本:</label>
   		<div class="col-sm-1">{{listEnv.kafka_ver}}</div>
   </div>   
    <table class="table table-bordered mt20">	     
    <thead>    
      <tr>
	  	<th >序号</th>
	  	<th ng-click="col='CoreName';desc=!desc">核心库名称</th>		
		<th ng-click="col='Topic';desc=!desc">Topic</th>
		<th ng-click="col='Zookeeper';desc=!desc">Zookeeper</th>		
		</tr> 
	</thead>
	<tbody>	 
	     <tr class="ng-scope"  ng-repeat="list in listEnv.sp_col_list | orderBy:col:desc">
	     <td >{{$index+1}}</td>  
	     <td >{{list.CoreName}} </td>	  
	     <td >{{list.Topic}}</td>
	     <td >{{list.Zookeeper}}</td>		
	  	</tr>	  	
	  	</tbody>
	  </table> 	  
    </div>
    </div>